<div class="page-width">
<div class="multi-image-section">  
  {% for block in section.blocks %}
    <div class="image-block" style="background: url({{ block.settings.image | img_url: 'large' }})">
       <a href="{{ block.settings.image | img_url: 'large' }}" data-fancybox="gallery">
          <img src="{{ block.settings.image | img_url: 'large' }}" alt="{{ block.settings.image.alt }}">
       </a>
    </div>
  {% endfor %}
</div>
</div>  

{% schema %}
{
  "name": "Multi Image Section",
  "settings": [],
  "blocks": [
    {
      "type": "image_block",
      "name": "Image Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Multi Image Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}
